<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="{{ url_for('static', filename = 'css/styles.css') }}">
    <link rel="stylesheet"
        type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>BookMarket</title>
    <link href="{{ url_for('static', filename = 'Images/Logo.jpg') }}"
        rel="icon"
        type="image/jpg">
</head>

<body>
    <section class="header">
        <nav>
            <div class="overlay"></div>
            <a href="{{url_for('home')}}"></a>
            <div class="nav-links">
                <ul>

                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('category')}}">Category</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Register.html">Register</a></li>
                </ul>
            </div>
            <ul>
                <li style="float: right; opacity: 0.7;"><img src="/static/Images/Logo.jpg"
                        style="border-radius:10px"></li>
            </ul>

        </nav>

    </section>
    {% block content %}
    {% endblock %}

    <!--</footer>-->
    <footer class="footer">
        <div class="containers">
            <div class="rows">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Book Categories</a></li>
                        <li><a href="#">Your Books</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Liked</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="#">+1 813 211 38123</a></li>
                        <li><a href="#">EBook@usf.edu</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <p>&copy; 2023 All rights reserved, This website has been built as part of an assignment for ISM6225
                Distributed Information System Assignment Course at USF.</p>

        </div>
    </footer>

</body>

</html>